.game-layout {
  height: 100vh;
  background: #121212; 
  color: #fff;
  display: grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Columna izquierda */
.bet-list {
  grid-area: 1 / 1 / 11 / 3;
  background: #1b1b1b;
  border-right: 2px solid #333;
  overflow-y: auto;
  padding: 0.8rem;
}

/* Columna principal (RenderAviatorGame) */
.game-board {
  grid-area: 1 / 3 / 8 / 9;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #1c1c1c, #0d0d0d);
}

/* Panel inferior de apuestas */
.player-panel {
  grid-area: 8 / 3 / 11 / 11;
  background: #1b1b1b;
  border-top: 2px solid #333;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
}

.player-list{
  grid-area: 1 / 9 / 8 / 11; 
  background: #1b1b1b;
  border-right: 2px solid #333;
  overflow-y: auto;
}

